<header class="header-wrapper">
   <div class="header-nav">
      <div class="container">
         <div class="header-nav-wrapper d-md-flex d-sm-flex d-xl-flex d-lg-flex justify-content-between">
            <div class="header-static-nav">
               <p *ngIf='isAuth'>{{ 'ui.connected' | translate }}</p>
               <p *ngIf='!isAuth'>{{ 'ui.not_connected' | translate }}</p>
            </div>
            <div class="header-menu-nav">
               <ul class="menu-nav">
                  <li>
                     <div class="dropdown">
                        <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">{{ 'ui.settings' | translate }} <i class="ion-ios-arrow-down"></i></button>
                        <ul class="dropdown-menu animation slideDownIn" aria-labelledby="dropdownMenuButton">
                           <li>
                              <a href="my-account.html">{{ 'ui.my_account' | translate }}</a>
                           </li>
                           <li>
                              <a href="checkout.html">{{ 'ui.checkout' | translate }}</a>
                           </li>
                           <li>
                              <a routerLink="/login">{{ 'ui.sign_in' | translate }}</a>
                           </li>
                        </ul>
                     </div>
                  </li>
                  <li class="pr-0">
                     <div class="box">
                        <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
                           <option *ngFor="let language of translate.getLangs()" [value]="language" [selected]="language === translate.currentLang">
                              {{ language | uppercase }}
                           </option>
                        </select>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="header-top bg-white ptb-30px d-xl-block d-none">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-sm-6 col-lg-2 order-first">
               <div class="logo text-center text-sm-left mb-30 mb-sm-0">
                  <a href="index.html">
                     <img src="assets/img/logo/logo-dark.jpg" alt="logo">
                  </a>
               </div>
            </div>
            <div class="col-sm-6 col-lg-5 col-xl-4">
               <div class="d-flex align-items-center justify-content-center justify-content-sm-end">
                  <div class="media static-media mr-50 d-none d-lg-flex">
                     <img class="mr-3 align-self-center" src="assets/img/icon/1.png" alt="icon">
                     <div class="media-body">
                        <div class="phone">
                           <span class="text-muted">{{ 'ui.call_us' | translate }}</span>
                        </div>
                        <div class="phone">
                           <a href="tel:(+33)752152560" class="text-dark">(+33)752152560</a>
                        </div>
                     </div>
                  </div>
                  <div class="cart-block-links theme1">
                     <ul class="d-flex">
                        <li class="mr-0 cart-block position-relative">
                           <a href="#offcanvas-cart" class="offcanvas-toggle">
                              <span class="position-relative">
                                 <i class="icon-bag"></i>
                                 <span class="badge cbdg1">{{ cartData.len }}</span>
                              </span>
                              <span class="cart-total position-relative" *ngIf="translate.currentLang === 'en'">${{ (cartData.cost).toFixed(2) }}</span>
                              <span class="cart-total position-relative" *ngIf="translate.currentLang === 'fr'">€{{ (cartData.cost).toFixed(2) }}</span>
                           </a>
                        </li>
                     </ul>
                  </div>
                  <div class="mobile-menu-toggle theme1 d-lg-none">
                     <a href="#offcanvas-mobile-menu" class="offcanvas-toggle">
                        <svg viewbox="0 0 800 600">
                           <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                              id="top"></path>
                           <path d="M300,320 L540,320" id="middle"></path>
                           <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                              id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318)">
                           </path>
                        </svg>
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-lg-5 col-xl-6 order-lg-first">
               <div class="search-form pt-30 pt-lg-0">
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="header-menu bg-blue sticky-nav d-xl-block d-none padding-0px">
      <div class="container">
         <div class="row">
            <div class="col-lg-9 custom-col-2 d-flex flex-wrap align-items-center position-relative">
               <ul class="main-menu d-flex">
                  <li routerLinkActive="active">
                     <a routerLink="/about">{{ 'ui.about_us' | translate }}</a>
                  </li>
                  <li routerLinkActive="active">
                     <a routerLink="/shop">{{ 'ui.shop' | translate }}</a>
                  </li>
                  <li routerLinkActive="active">
                     <a>{{ 'ui.category' | translate }}</a>
                     <ul class="sub-menu">
                        <li *ngFor="let category of categories">
                           <a [routerLink]="['/category',category.idCategory]">{{ category.name }}</a>
                        </li>
                     </ul>
                  </li>
                  <li routerLinkActive="active">
                     <a routerLink="/contact">{{ 'ui.contact' | translate }}</a>
                  </li>
                  <li routerLinkActive="active" *ngIf="!isAuth">
                     <a routerLink="/login">{{ 'ui.login_instead' | translate }}</a>
                  </li>
                  <li routerLinkActive="active" *ngIf="!isAuth">
                     <a routerLink="/register">{{ 'ui.register' | translate }}</a>
                  </li>
                  <li routerLinkActive="active" (click)="logout()" *ngIf="isAuth">
                     <a>{{ 'ui.logout' | translate }}</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div id="offcanvas-cart" class="offcanvas offcanvas-cart">
      <div class="inner">
         <div class="head">
            <span class="title">{{ 'ui.cart' | translate }}</span>
            <button class="offcanvas-close">×</button>
         </div>
         <div>
            <div *ngFor="let cartData of cart">
               <div class="body customScroll" >
               <ul class="minicart-product-list">
                  <li>
                     <a href="single-product.html" class="image">
                        <img [src]="env.prefUrlImage+cartData.product.image" alt="Cart product Image">
                        </a>
                     <div class="content">
                        <a href="single-product.html" class="title">{{ cartData.product.name }}</a>
                        <span class="quantity-price">
                           1 x
                           <span class="amount" *ngIf="translate.currentLang === 'en'">${{ cartData.product.price }}</span>
                           <span class="amount" *ngIf="translate.currentLang === 'fr'">€{{ cartData.product.price }}</span>
                        </span>
                        <a href="#" class="remove">×</a>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
         <div class="foot">
            <div class="sub-total">
               <strong>Subtotal :</strong>
               <span class="amount" *ngIf="translate.currentLang === 'en'">${{ (cartData.cost).toFixed(2) }}</span>
               <span class="amount" *ngIf="translate.currentLang === 'fr'">€{{ (cartData.cost).toFixed(2) }}</span>
            </div>
            <div class="buttons">
               <a href="/cart" class="btn btn-dark btn-hover-primary mb-30px">{{ 'ui.view_cart' | translate }}</a>
               <a routerLink="/checkout" class="btn btn-outline-dark current-btn">{{ 'ui.checkout' | translate }}</a>
            </div>
         </div>
      </div>
   </div>
   </div>
<div class="offcanvas-overlay"></div>
</header>
