<app-header></app-header>

<div class="breadcrumb-area">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="breadcrumb-content">
               <ul class="nav">
                  <li><a href="index.html">{{ "ui.home" | translate }}</a></li>
                  <li>{{ "ui.sign_in_to_the_store_or_create_new_account" | translate }}</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="login-register-area mtb-60px">
   <div class="container">
      <div class="row">
         <div class="col-lg-7 col-md-12 ml-auto mr-auto">
            <div class="login-register-wrapper">
               <div class="login-register-tab-list nav">
                  <a class="active" data-toggle="tab">
                     <h4>{{ "ui.login_instead" | translate }}</h4>
                  </a>
               </div>
               <div class="tab-content">
                  <div id="lg1" class="tab-pane active">
                     <div class="login-form-container">
                        <div class="login-register-form">
                           <form action="#" method="post" [formGroup]="loginForm">
                              <div class="alert alert-danger text-center" role="alert" *ngIf="errorMessage">
                                 {{errorMessage}}
                              </div>
                              <div class="order-asguest theme1 mb-3">
                                 <span>{{ 'ui.create_account' | translate }}</span>
                                 <a class="text-muted hover-color" routerLink="/register"> {{ 'ui.register' | translate }}</a>
                              </div>
                              <input type="text" name="user-name" placeholder='{{ "ui.username" | translate }}' />
                              <input type="password" name="user-password"
                                 placeholder='{{ "ui.password" | translate }}' />
                              <div class="button-box">
                                 <div class="login-toggle-btn">
                                    <input type="checkbox" />
                                    <a class="flote-none" href="javascript:void(0)"> Remember me</a>
                                    <a href="#">Forgot Password?</a>
                                 </div>
                                 <div class="row text-center">
                                    <div class="col-md-6 offset-md-3">
                                       <button (click)="onSubmit()" class="btn theme-btn--dark1 btn--md"
                                          [disabled]="loginForm.invalid">
                                          {{ "ui.sign_in" | translate }}
                                       </button>
                                    </div>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<app-footer></app-footer>
