/****************************
[ product-slider SCSS ]
********************************************************************************************/

.product-slider-init .slick-list {
    padding: 15px 0;
    margin: -15px;
}

.product-slider-init .slick-list .slick-slide {
    padding: 0 15px;
}

.product-slider2-init .slick-list {
    padding: 15px 0;
    margin: -15px;
}

.product-slider2-init .slick-list .slick-slide {
    padding: 0 15px;
}

/********************************
    popular Slider
 ***********************************************************************************************/

 .popular-section {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.popular-slider-init .slick-list {
	margin: 0 -15px;
}

.popular-slider-init .slick-list .slick-slide {
	padding: 0 15px;
}

.popular-card {
	text-align: center;
	background: #ffffff;
	border: 0;
}

.popular-card .card-body {
	padding: 15px;
	border-radius: 5px;
}

.popular-card .card-body .popular-title {
	padding: 25px 0 10px 0;
}

.popular-card .card-body .popular-title a {
	color: #1d1d1d;
	font-weight: 700;
	font-family: "Gilroy-Bold ☞";
	text-transform: capitalize;
	font-size: 18px;
	margin-bottom: 15px;
}

.popular-card-bg {
	position: relative;
}

.popular-card-bg .card-body {
	position: relative;
	z-index: 1;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 30px;
}

.popular-card-bg .card-body:hover .shop-now-btn {
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
}

.popular-card-bg::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(63% + 1px);
	content: "";
	z-index: 1;
	background: #f7f7f7;
}

.theme1 .popular-card {
	text-align: center;
}

.theme1 .popular-card .card-body .popular-title a:hover {
	color: $theme-color;
}

.theme2 .popular-card {
	text-align: center;
}

.theme2 .popular-card .card-body .popular-title a:hover {
	color: #ff7519;
}

.theme3 .popular-card {
	text-align: center;
}

.theme3 .popular-card .card-body .popular-title a:hover {
	color: #10a341;
}


.swiper-container {
	width: 100%;
	height: 100%;
}
.slider-height-1 {
	height: 530px;
	@media #{$tablet-device} {
		height: 430px;
	}
	@media #{$large-mobile} {
		height: 400px;
	}
}
.slider-height-2 {
	height: 437px;
	@media #{$tablet-device} {
		height: 350px;
	}
	@media #{$large-mobile} {
		height: 300px;
	}
}
.slider-height-3 {
	height: 530px;
	@media #{$tablet-device} {
		height: 430px;
	}
	@media #{$large-mobile} {
		height: 300px;
	}
}
.slider-height-4 {
	height: 530px;
	@media #{$tablet-device} {
		height: 430px;
	}
	@media #{$large-mobile} {
		height: 300px;
	}
}

.slider-area {
	.bg-img {
		background-position: center center;
		background-size: cover;
		position: relative;
		z-index: 1;
		background-color: #bebebe;
		transition: all 0.3s ease-in-out !important;
		&:after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: "";
			background: #fff;
			z-index: -1;
			opacity: 0.2;
		}
		.slider-content-1 {
			& span {
				font-size: 17px;
				font-weight: 400;
				text-transform: uppercase;
				font-style: italic;
				margin-bottom: 10px;
				line-height: 1;
				display: block;
			}
			& h1 {
				font-size: 45px;
				font-weight: 400;
				margin-bottom: 50px;
				line-height: 1;
				& strong {
					font-weight: 700;
				}

				@media #{$large-mobile} {
					font-size: 32px;
					margin-bottom: 30px;
				}
			}
			& a {
				width: 140px;
				height: 45px;
				line-height: 45px;
				text-align: center;
				display: inline-block;
				background-color: $theme-color;
				color: #fff;
				font-weight: 700;
				border-radius: 5px;
				font-size: 14px;
				&:hover {
					background-color: $black;
				}
			}
		}
	}
}
