//Static Area Style

.static-area{
	.single-static{
		position: relative;
	    display: flex;
	    align-items: flex-start;
		& img{
			flex: 0 0 auto;
		    margin: 0;
		    margin-right: 15px;
		}
		.single-static-meta{

			& h4{
			color: #1d1d1d;
		    font-size: 16px;
		    font-weight: 600;
		    text-transform: capitalize;
		    line-height: 25px;
		    margin-bottom: 0;
			    @media #{$desktop-device}{
		    		font-size: 15px;
			    }
			}
			& p{
			line-height: 20px;
		    color: #888;
		    font-size: 13px;
		    margin: 0;
			}
		}
	}
}