<app-header></app-header>
<div class="offcanvas-overlay"></div>
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="breadcrumb-content">
               <ul class="nav">
                  <li><a href="/">{{ 'ui.home' | translate }}</a></li>
                  <li>{{ 'ui.register' | translate }}</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="login-register-area mtb-60px">
   <div class="container">
      <div class="row">
         <div class="col-lg-7 col-md-12 ml-auto mr-auto">
            <div class="login-register-wrapper">
               <div class="login-register-tab-list nav">
                  <a data-toggle="tab" class="active">
                     <h4>{{ "ui.register" | translate }}</h4>
                  </a>
               </div>
               <div class="tab-content">
                  <div class="tab-panel">
                     <div class="login-form-container">
                        <div class="login-register-form">
                           <form class="personal-information" [formGroup]="registerForm">
                              <div class="alert alert-danger text-center" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
                              <div class="alert alert-success text-center" role="alert" *ngIf="successMessage">{{successMessage}}</div>
                              <div class="order-asguest theme1 mb-3">
                                 <span>{{ 'ui.account_already' | translate }}</span>
                                 <a class="text-muted hover-color" routerLink="/login"> {{ 'ui.login_instead' | translate }}</a>
                              </div>
                              <input type="text" formControlName="pseudo" name="pseudo" id="pseudo" class="form-control" placeholder='{{ "ui.pseudo" | translate }}' />
                              <input type="text" formControlName="firstname" name="firstname" id="firstname" class="form-control" placeholder='{{ "ui.firstname" | translate }}' />
                              <input type="text" formControlName="lastname" name="lastname" id="lastname" class="form-control" placeholder='{{ "ui.lastname" | translate }}' />
                              <input type="text" formControlName="email" name="email" id="email" class="form-control" placeholder='{{ "ui.email" | translate }}' />
                              <input type="text" formControlName="password" name="user-password" id="password" class="form-control" placeholder='{{ "ui.password" | translate }}' />
                              <div class="row text-center">
                                 <div class="col-md-6 offset-md-3">
                                    <div class="login-form-links">
                                       <div class="sign-btn">
                                          <button (click)="onSubmit()" class="btn theme-btn--dark1 btn--md" [disabled]="registerForm.invalid">
                                             {{ 'ui.create_an_account' | translate }}
                                          </button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<app-footer></app-footer>
