<app-header></app-header>
<section>
   <div class="offcanvas-overlay"></div>
   <div class="breadcrumb-area">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="breadcrumb-content">
                  <ul class="nav">
                     <li><a routerLink="/">{{ "cart.home" | translate }}</a></li>
                     <li>{{ "cart.cart" | translate }}</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="cart-main-area mtb-60px">
      <div class="container" *ngIf="cart.length">
         <h3 class="cart-page-title">{{ "cart.items_cart" | translate }}</h3>
         <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
               <form action="#">
                  <div class="table-content table-responsive cart-table-content">
                     <table>
                        <thead>
                           <tr>
                              <th>{{ "cart.image" | translate }}</th>
                              <th>{{ "cart.product_name" | translate }}</th>
                              <th>{{ "cart.unit_price" | translate }}</th>
                              <th>{{ "cart.quantity" | translate }}</th>
                              <th>{{ "cart.subtotal" | translate }}</th>
                              <th>{{ "cart.action" | translate }}</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let data of cart">
                              <td class="product-thumbnail">
                                 <a href="#">
                                    <img class="img-responsive" [src]="env.prefUrlImage+data.product.image" alt="img">
                                 </a>
                              </td>
                              <td class="product-name"><a href="#">{{ data.product.name }}</a></td>
                              <td class="product-price-cart"><span class="amount" *ngIf="translate.currentLang === 'en'">${{ data.product.price }}</span></td>
                              <td class="product-price-cart"><span class="amount" *ngIf="translate.currentLang === 'fr'">€{{ data.product.price }}</span></td>
                              <td class="product-quantity">
                                 <div class="cart-plus-minus">
                                    <div (click)="addProduct(data.product)" class="dec qtybutton">
                                       <i class="fas fa-plus"></i>
                                    </div>
                                       <input class="cart-plus-minus-box" type="text" name="qtybutton" [value]="data.number">
                                    <div (click)="deleteProduct(data.product)" class="inc qtybutton">
                                       <i class="fas fa-minus"></i>
                                    </div>
                                 </div>
                              </td>
                              <td class="product-subtotal" *ngIf="translate.currentLang === 'en'">${{ (data.product.price*data.number).toFixed(2) }}</td>
                              <td class="product-subtotal" *ngIf="translate.currentLang === 'fr'">€{{ (data.product.price*data.number).toFixed(2) }}</td>
                              <td class="product-remove">
                                 <button (click)="removeProduct(index)">
                                    <i class="icon-close"></i>
                                 </button>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="cart-shiping-update-wrapper">
                           <div class="cart-shiping-update">
                              <a routerLink="/shop">{{ "cart.continue" | translate }}</a>
                           </div>
                           <div class="cart-clear">
                              <button>{{ "cart.update" | translate }}</button>
                              <a href="#" (click)="removeAllProducts()">{{ "cart.clear" | translate }}</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </form>
               <div class="row">
                  <div class="col-lg-4 col-md-12 mt-md-30px">
                     <div class="grand-totall">
                        <div class="title-wrap">
                           <h4 class="cart-bottom-title section-bg-gary-cart">{{ "cart.total" | translate }}</h4>
                        </div>
                        <h5>{{ "cart.total_products" | translate }}<span>$260.00</span></h5>
                        <div class="total-shipping">
                           <h5>{{ "cart.total_shipping" | translate }}</h5>
                           <ul>
                              <li><input type="checkbox" /> {{ "cart.standard" | translate }} <span>$20.00</span></li>
                              <li><input type="checkbox" /> {{ "cart.express" | translate }} <span>$30.00</span></li>
                           </ul>
                        </div>
                        <h4 class="grand-totall-title">{{ "cart.big_total" | translate }}<span>$260.00</span></h4>
                        <a href="#">{{ "cart.proceed_checkout" | translate }}</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container" *ngIf="!cart.length">
         <h3 class="title mb-30 pb-25 text-capitalize">{{ "cart.empty_cart" | translate }}</h3>
         <div class="cart-shiping-update-wrapper">
            <div class="cart-shiping-update">
               <a routerLink="/shop">{{ "cart.back_to_shop" | translate }}</a>
            </div>
         </div>
      </div>
   </div>
</section>
<app-footer></app-footer>
