<app-header></app-header>
<div class="offcanvas-overlay"></div>
<div class="breadcrumb-area">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="breadcrumb-content">
               <ul class="nav">
                  <li><a routerLink="/">{{ "ui.home" | translate }}</a></li>
                  <li>{{ "ui.contact" | translate }}</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="contact-area mtb-60px">
   <div class="container">
      <div class="custom-row-2">
         <div class="col-lg-4 col-md-5 mb-lm-30px">
            <div class="contact-info-wrap">
               <div class="single-contact-info">
                  <div class="contact-icon">
                     <i class="ion-android-call"></i>
                  </div>
                  <div class="contact-info-dec">
                     <p><a href="tel://0123456789">0123456789</a></p>
                  </div>
               </div>
               <div class="single-contact-info">
                  <div class="contact-icon">
                     <i class="ion-android-globe"></i>
                  </div>
                  <div class="contact-info-dec">
                     <p><a href="mailto://urwebsitenaem.com">demo@example.com</a></p>
                  </div>
               </div>
               <div class="single-contact-info">
                  <div class="contact-icon">
                     <i class="ion-android-pin"></i>
                  </div>
                  <div class="contact-info-dec">
                     <p>Address goes here,</p>
                  </div>
               </div>
               <div class="contact-social">
                  <h3>{{ "ui.follow" | translate }}</h3>
                  <div class="social-info">
                     <ul>
                        <li>
                           <a href="#"><i class="ion-social-twitter"></i></a>
                        </li>
                        <li>
                           <a href="#"><i class="ion-social-youtube"></i></a>
                        </li>
                        <li>
                           <a href="#"><i class="ion-social-instagram"></i></a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-8 col-md-7">
            <div class="contact-form">
               <div class="contact-title mb-30">
                  <h2>{{ "ui.get_in_touch" | translate }}</h2>
               </div>
               <form class="contact-form-style" id="contact-form" action="assets/php/mail.php" method="post">
                  <div class="row">
                     <div class="col-lg-6">
                        <input name="name" placeholder='{{ "ui.firstname" | translate }}' type="text" required="true" />
                     </div>
                     <div class="col-lg-6">
                        <input name="email" placeholder='{{ "ui.email" | translate }}' type="email" required="true" />
                     </div>
                     <div class="col-lg-12">
                        <input name="subject" placeholder='{{ "ui.subject" | translate }}' type="text" required="true" />
                     </div>
                     <div class="col-lg-12">
                        <textarea name="message" placeholder='{{ "ui.message" | translate }}' required="true"></textarea>
                        <button class="submit" type="submit">{{ "ui.send" | translate }}</button>
                     </div>
                  </div>
               </form>
               <p class="form-messege"></p>
            </div>
         </div>
      </div>
   </div>
</div>
<app-footer></app-footer>
