<nav class="breadcrumb-section theme1 bg-lighten2 pt-110 pb-110">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="section-title text-center mb-15">
               <h2 class="title text-dark text-capitalize">{{ "ui.checkout" | translate }}</h2>
            </div>
         </div>
         <div class="col-12">
            <ol class="breadcrumb bg-transparent m-0 p-0 align-items-center justify-content-center">
               <li class="breadcrumb-item"><a href="#">{{ "ui.home" | translate }}</a></li>
               <li class="breadcrumb-item active" aria-current="page">{{ "ui.checkout" | translate }}</li>
            </ol>
         </div>
      </div>
   </div>
</nav>
<section class="check-out-section pt-80 pb-50">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 mb-30">
            <ul class="list-group cart-summary rounded-0">
               <li class="list-group-item d-flex justify-content-between align-items-center">
                  <ul class="items">
                     <li *ngFor="let data of cart">
                        {{ data.product.name}} x {{ data.number}} - PU: {{ data.product.price }}
                     </li>
                     <li>
                        {{ "checkout.shipping" | translate }}
                     </li>
                     <hr>
                     <li>
                        {{ cartData.len }} {{ "checkout.item" | translate }}
                     </li>
                  </ul>
                  <ul class="amount" *ngIf="translate.currentLang === 'en'">
                     <li *ngFor="let data of cart">
                        $ {{ (data.number*data.product.price).toFixed(2) }}
                     </li>
                     <li>
                        $0
                     </li>
                     <hr>
                     <li>
                        ${{ cartData.cost }}
                     </li>
                  </ul>
                  <ul class="amount" *ngIf="translate.currentLang === 'fr'">
                     <li *ngFor="let data of cart">
                        € {{ (data.number*data.product.price).toFixed(2) }}
                     </li>
                     <li>
                        €0
                     </li>
                     <hr>
                     <li>
                        €{{ cartData.cost }}
                     </li>
                  </ul>
               </li>
               <li class="list-group-item d-flex justify-content-between align-items-center">
                  <ul class="items">
                     <li>{{ "checkout.tva" | translate }}</li>
                     <li>{{ "cart.total" | translate }} {{ "checkout.ttc" | translate }}</li>
                  </ul>
                  <ul class="amount">
                     <li>${{ (cartData.cost*0.2).toFixed(2) }}</li>
                     <li>${{ (cartData.cost*1.2).toFixed(2) }}</li>
                  </ul>
               </li>
               <li class="list-group-item text-center">
                  <app-button-paypal [price]="(cartData.cost*1.2).toFixed(2)"></app-button-paypal>
                  <div id="paypal-button-container" class="">
                     {{ "ui.proceed_checkout" | translate }}
                  </div>
               </li>
            </ul>
            <div class="delivery-info mt-20">
               <ul>
                  <li>
                     <img src="assets/img/icon/10.png" alt="icon"> {{ "checkout.security_policy" | translate }}
                  </li>
                  <li>
                     <img src="assets/img/icon/11.png" alt="icon"> {{ "checkout.delivery_policy" | translate }}
                  </li>
                  <li class="mb-0">
                     <img src="assets/img/icon/12.png" alt="icon"> {{ "checkout.return_policy" | translate }}
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
