<app-header></app-header>

<app-slider></app-slider>

<div class="static-area mtb-60px">
   <div class="container">
      <div class="static-area-wrap">
         <div class="row">
            <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-md-30px mb-lm-30px">
               <div class="single-static">
                  <img src="assets/images/icons/static-icons-1.png" alt="" class="img-responsive" />
                  <div class="single-static-meta">
                     <h4>Free Shipping</h4>
                     <p>On all orders over $75.00</p>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-md-30px mb-lm-30px">
               <div class="single-static">
                  <img src="assets/images/icons/static-icons-2.png" alt="" class="img-responsive" />
                  <div class="single-static-meta">
                     <h4>Free Returns</h4>
                     <p>Returns are free within 9 days</p>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-sm-30px">
               <div class="single-static">
                  <img src="assets/images/icons/static-icons-4.png" alt="" class="img-responsive" />
                  <div class="single-static-meta">
                     <h4>Support 24/7</h4>
                     <p>Contact us 24 hours a day</p>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6">
               <div class="single-static">
                  <img src="assets/images/icons/static-icons-3.png" alt="" class="img-responsive" />
                  <div class="single-static-meta">
                     <h4>100% Payment Secure</h4>
                     <p>Your payment are safe with us.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<app-products [products]="products"></app-products>

<app-footer></app-footer>
