<app-header></app-header>
<app-slider></app-slider>
<div class="static-area mtb-60px">
   <div class="container">
      <div class="static-area-wrap">
         <div class="row">
            <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-md-30px mb-lm-30px">
               <div class="single-static">
                  <img src="assets/images/icons/static-icons-1.png" alt="" class="img-responsive" />
                  <div class="single-static-meta">
                     <h4>{{ "shop.free_shipping" | translate }}</h4>
                     <p>{{ "shop.orders_shipping" | translate }}</p>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-md-30px mb-lm-30px">
               <div class="single-static">
                  <img src="assets/images/icons/static-icons-2.png" alt="" class="img-responsive" />
                  <div class="single-static-meta">
                     <h4>{{ "shop.free_return" | translate }}</h4>
                     <p>{{ "shop.free_return_9" | translate }}</p>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-sm-30px">
               <div class="single-static">
                  <img src="assets/images/icons/static-icons-4.png" alt="" class="img-responsive" />
                  <div class="single-static-meta">
                     <h4>{{ "shop.support" | translate }}</h4>
                     <p>{{ "shop.contact_us" | translate }}</p>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6">
               <div class="single-static">
                  <img src="assets/images/icons/static-icons-3.png" alt="" class="img-responsive" />
                  <div class="single-static-meta">
                     <h4>{{ "shop.payment_secure" | translate }}</h4>
                     <p>{{ "shop.payment_safe" | translate }}</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<app-products [products]="products"></app-products>
<app-footer></app-footer>
