<app-header></app-header>
<div class="offcanvas-overlay"></div>
<div class="breadcrumb-area">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="breadcrumb-content">
               <ul class="nav">
                  <li><a routerLink="/">{{ "ui.home" | translate }}</a></li>
                  <li>{{ "ui.about_us" | translate }}</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<section class="about-section pt-80 pb-50">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 mb-30">
            <div class="about-content">
               <h2 class="title mb-20">{{ "ui.welcome" | translate }}</h2>
               <p class="mb-20">
                  {{ "ui.welcome_text" | translate }}
               </p>
            </div>
         </div>
         <div class="col-lg-6 mb-30">
            <div class="about-left-image mb-30">
               <img src="assets/img/about/about.png" alt="img" class="img-responsive">
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4 mb-30">
            <div class="about-info">
               <h4 class="title mb-20">{{ "ui.our_company" | translate }}</h4>
               <p>
                  {{ "ui.our_company_text" | translate }}
               </p>
            </div>
         </div>
         <div class="col-md-4 mb-30">
            <div class="about-info">
               <h4 class="title mb-20">{{ "ui.our_team" | translate }}</h4>
               <p>
                  {{ "ui.our_team_text" | translate }}
               </p>
            </div>
         </div>
         <div class="col-md-4 mb-30">
            <div class="about-info">
               <h4 class="title mb-20">{{ "ui.testimonial" | translate }}</h4>
               <p>
                  {{ "ui.testimonial_text" | translate }}
               </p>
            </div>
         </div>
      </div>
   </div>
</section>
<app-footer></app-footer>
